@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b;
} */